body{
    background-color: lightgrey;
    margin: 0;
}

header{
    background-color: white;
}

.logo-titolo{
    padding: 15px 15px;
}
    

#intestazione{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    vertical-align: 18px;
}

main{
    width: 1000px;
    height: 1000px;
    margin: 30px 250px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}