body{
    background-color: lightgrey;
    margin: 0;
}

header{
    background-color: white;
}

.logo-titolo{
    padding: 15px 15px;
}
    

#intestazione{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    vertical-align: 18px;
}

main{
    width: 1000px;
    height: 1000px;
    margin: 30px 250px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

/* inzio formatazione bottoni*/

.button{
   padding: 25px 50px;
   border-bottom: 1px solid lightgrey;
}

#task-b, #section-b{
    border-radius: 5px 5px 5px 5px;
}

#task-b{
    background-color: lightskyblue;
}

#section-b{
    background-color: white;
}

#task{
    font-size: 25px;
    color: white;
}

#section{
    font-size: 25px;
    color: lightgrey;
}

/* fine formatazione bottoni*/




