body{
    background-color: lightgrey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

.logo-titolo{
    padding: 15px 15px;
}
    

#intestazione{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    vertical-align: 18px;
}

main{
    width: 1000px;
    height: 500px;
    margin: 30px 250px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

/* inzio formatazione bottoni*/

.button{
   padding: 25px 50px;
   border-bottom: 1px solid lightgrey;
}

#task-b, #section-b{
    border-radius: 5px 5px 5px 5px;
}

#task-b{
    background-color: lightskyblue;
}

#section-b{
    background-color: white;
}

#task{
    font-size: 25px;
    color: white;
}

#section{
    font-size: 25px;
    color: lightgrey;
}

/* fine formatazione bottoni*/

/*inzio formatazione elenco*/

.elenco-puntato{
    margin-left: 50px;
}

.titolo{
    font-size: 25px;
}

.check{
    color: lightgreen;
    border: 2px solid lightgreen;
}

.wrong{
    color: red;
    border: 2px solid red;
}


.check, .wrong{
    font-size: 25px;
    border-radius: 50%;
}
.stickers{
    font-size: 12px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    vertical-align: sub;
    color: white;

}

.blu{
    background-color: lightskyblue;
}

.viola{
    background-color: violet;
}

.verde{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}

/*inzio formatazione elenco*/

/*cambio pallino elenco puntato*/
 
/*ul{list-style-type: (mi sono bloccato...non riesco più a proseguire!!!);}
ul{list-style-image: url()
*/
